h1{
  text-align: center;
}
h2{
  text-align: center;
}
.todos{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  list-style-type: none;
}
.add{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}